.section-movie {
  margin: 81px 70px 146px 70px;
  min-height: 446px;
}

.section-movie__card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  row-gap: 36px;
  margin-bottom: 59px;
}

.section-movie__button {
  width: 100%;
  height: 36px;
  background-color: #2f2f2f;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: font-size 0.5s linear;
}

.section-movie__button:hover {
  font-size: 13px;
}

@media (max-width: 792px) {
  .section-movie {
    margin: 80px 27px 98px 27px;
  }

  .section-movie__card-list {
    margin-bottom: 91px;
    gap: 30px;
  }
}

@media (max-width: 400px) {
  .section-movie {
    margin: 50px 10px 119px 10px;
  }

  .section-movie__card-list {
    row-gap: 14px;
    margin-bottom: 76px;
  }
}
