.section-search-form {
  margin: 78px 70px 0 70px;
}

.search-form {
  width: calc(100% - 140px);
  min-height: 176px;
  border-bottom: 1px solid #424242;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.search-form__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 41px;
}

.search-form__button {
  margin-left: -44px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #4285F4;
  background-image: url('../../images/search-button-image.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: background-color 1s linear
}

.search-form__button:hover {
  background-color: rgb(52, 86, 243, 0.8);
}

.search-form__input {
  min-height: 44px;
  width: 100%;
  border-radius: 40px;
  background-color: #2F2F2F;
  border: none;
  color: #8B8B8B;
  text-indent: 19px;
  font-size: 13px;
  font-weight: 400;
}

.search-form__label-checkbox {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__checkbox {
  position: absolute;
  width: 1px; 
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-form__quasi-checkbox {
	cursor: pointer;
	width: 36px;
	height: 19px;
	background: #343434;
	display: block;
	border-radius: 100px;
	position: relative;
}

.search-form__quasi-checkbox:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #a0a0a0;
  border-radius: 90px;
  transition: 0.3s;
}

.search-form__checkbox:checked + .search-form__quasi-checkbox {
	background: #3DDC84;  
}
.search-form__checkbox:checked + .search-form__quasi-checkbox:after {
	background: #fff;  
}

.search-form__checkbox:checked + .search-form__quasi-checkbox:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.search-form__quasi-checkbox:active:after {
  width: 10px;
}

.search-form__checkbox-subtitle {
  margin-left: 13px;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 792px) {
  .section-search-form {
    margin: 97px 30px 0 30px;
  }
  
  .search-form {
    min-height: 157px;
    width: calc(100% - 60px);
  }
}

@media (max-width: 400px) {
  .section-search-form {
    margin: 97px 14px 0 14px;
  }
  
  .search-form {
    min-height: 157px;
    width: calc(100% - 29px);
  }

  .search-form__checkbox-subtitle {
    font-size: 11px;
  }
}