.author-info {
  padding: 110px 70px 169px 70px;
  background-color: #202020;
}

.author-info__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-info__row {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  gap: 265px;
}

.author-info__text {
  display: flex;
  flex-direction: column;
}

.author-info__title {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -0.05rem;
  margin: 0;
  padding-bottom: 20px;
}

.author-info__subtitle {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}

.author-info__biography {
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 26px;
}

.author-info__gh-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 65px;
  transition: opacity 1s linear;
}

.author-info__gh-link:hover {
  opacity: 70%;
}

.author-info__photo {
  border-radius: 10px;
  width: 270px;
  height: 327px;
}
.author-info__portfolio-subtitle {
  color: #8b8b8b;
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 101px 0 0 0;
}

.author-info__portfolio {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.author-info__portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author-info__portfolio-item:not(:last-child) {
  border-bottom: 1px solid #424242;
}

.author-info__portfolio-title {
  margin: 0;
  padding-bottom: 19px;
  padding-top: 20px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.05rem;
}

.author-info__portfolio-link {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: opacity 1s linear;
}

.author-info__portfolio-link:hover {
  opacity: 70%;
}

.author-info__portfolio-title {
  margin: 0;
  padding-bottom: 19px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.07rem;
}

.author-info__portfolio-icon {
  width: 29px;
  height: 40px;
  background-image: url("../../images/portfolio-link-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .author-info__row {
    gap: 50px;
  }
}

@media (max-width: 792px) {
  .author-info {
    padding: 79px 50.5px 103px 50px;
  }

  .author-info__row {
    gap: 49px;
  }

  .author-info__title {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .author-info__subtitle {
    font-size: 12px;
  }

  .author-info__biography {
    font-size: 12px;
    line-height: 18px;
    margin-top: 18px;
  }

  .author-info__gh-link {
    font-size: 14px;
    margin-top: 59px;
  }

  .author-info__photo {
    width: 255px;
    height: 307px;
  }

  .author-info__portfolio-subtitle {
    margin: 90px 0 0 0;
  }

  .author-info__portfolio {
    margin: 30px 0 0 0;
  }

  .author-info__portfolio-title {
    font-size: 28px;
    letter-spacing: -0.07rem;
  }
}

@media (max-width: 560px) {
  .author-info__row {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 66px;
  }
}

@media (max-width: 410px) {
  .author-info {
    padding: 57px 15px 104px 14px;
  }

  .author-info__row {
    margin-top: 60px;
    gap: 40px;
  }
  .author-info__photo {
    width: 292px;
    height: 352px;
  }

  .author-info__title {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .author-info__subtitle {
    font-size: 11px;
  }

  .author-info__biography {
    font-size: 11px;
    line-height: 16px;
    margin-top: 18px;
    margin-bottom: 25px;
  }

  .author-info__gh-link {
    margin: 0;
  }

  .author-info__portfolio-subtitle {
    margin: 70px 0 0 0;
  }

  .author-info__portfolio-subtitle {
    font-size: 14px;
  }

  .author-info__portfolio {
    margin: 20px 0 0 0;
  }

  .author-info__portfolio-title {
    font-size: 18px;
    line-height: 28px;
    padding: 20px 0 19px 0;
    letter-spacing: -0.05rem;
  }

  .author-info__portfolio-icon {
    width: 18px;
    height: 19px;
    background-size: 55%;
  }
}
